html {
  width: 100%;
  height: 100%;
  font-family: Verdana, Arial;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("/imgs/v2r_back.png");
  background-repeat: repeat-y;
  background-position: top center;
}

#uptime {
  color: #ffffff;
  font-size: 12px;
  padding:10px;
}

#wifistatus {
  text-align: center;
  width: 130px;
  color: #ffffff;
  padding:10px;
}

#menu {
  font-size:14px;
}

#menu a {text-decoration: none; }

#menu a:hover {text-decoration: underline; }

.hardlink {
  float: right;
}

#accordion {
  font-size:12px;
}

#accordion h3 {
  font-weight: bold;
}

#accordion2 {
  font-size:12px;
}

#accordion2 h3 {
  font-weight: bold;
}


#tabs {
  padding:20px;
  font-size:14px;
}

#tabs li {
  font-weight: bold;
}


#maincontent {
  height: 100%;
}

#dialog-confirm {
  font-size:14px;
  display: none;
}

#dialog-confirm p {
  font-size:14px;
}

input {
  padding: 4px;
}


#filemanager td {
  width: 80%;
}

#filemanager td {
  padding: 6px;
}

#filemanager .col1 {
  background-color: #202020;
  font-size: 16px;
}

#filemanager a {
  text-decoration: none;
}

#filemanager td:hover {
  background-color: #0380ea;
}

#filemanager .col2 {
  background-color: #252525;
  text-align: center;
  width: 550px;
}

#filemanager .col3 {
  background-color: #202020;
  text-align: right;
  width: 350px;
}

#fmcurrentdir {
  width: 100%;
  text-align: right;
  font-size: 1.6em;
}

#moveup {
  width: 100%;
  height: 20px;
}

#editfileblock {
  width: 95%;
  height: 400px;
}

#accordion textarea {
  height: 600px;
  width: 95%;
  font-size: 1.4em;
  background-color: #121212;
  color: #fff;
  padding: 10px;

  word-wrap:break-word;  
  white-space:pre-wrap;
  overflow-x: auto;

  font-family: "Lucida Console", Monaco, monospace;
}

#accordion .textinput {
  width: 95%;
  font-size: 1.4em;
  background-color: #121212;
  color: #fff;
  padding: 10px;

  font-family: "Lucida Console", Monaco, monospace;
}

#pinstable td:hover {
  background-color: #0380ea;
}

#pinstable .nobg:hover {
  background-color: #121212;
}
 
.pinbox {
  position: absolute;
  width:15px;
  height:15px;
}

.blueback {
  background-color: #0380ea;
}

#dmesg_status pre {
  style="font-family: "Lucida Console", Monaco, monospace; 
  font-size:1.3em;"
}

.buttonlink {
  text-decoration: none;
  font-size:1.4em;
}

#currentgpiostate {
  style="font-family: "Lucida Console", Monaco, monospace; 
  font-size:1.3em;"
}

#scanresult {
  style="font-family: "Lucida Console", Monaco, monospace; 
  font-size:1.3em;"
}

select {
  background-color:#000000;
  color: #777777;
  border: #aaaaaa;
}

#uenvparams {
  style="font-family: "Lucida Console", Monaco, monospace; 
  font-size:1.2em;"
  color: #777777;
}

.bluetitle {
  color: #0380ea;
}