html {
  width: 100%;
  height: 100%;
  font-family: Verdana, Arial;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-repeat: repeat-y;
  background-position: top center;
}

img {
  border:none;
}

#uptime {
  margin-top:10px;
  color: #7c7c7c;
  font-size: 12px;
  display: inline;
}

#date {
  margin-top:10px;
  color: #7c7c7c;
  font-size: 12px;
}

#wifistatus {
  display: none;
}

#linkstatus {
  color: #ffffff;
  font-size: 0.8em;
  padding:10px;
  padding-top:0px;
}

#mobile_status {
  display: none;
}

#mobile_params {
  color: #ffffff;
  font-size: 0.8em;
  padding:10px;
  padding-top:0px;
}

#onair_status {
  display:none;
}
#onair_params {
  color: #ffffff;
  font-size: 0.8em;
  padding:10px;
  padding-top:0px;
}

#menu {
  font-size:14px;
}

#menu a {text-decoration: none; }

#menu a:hover {text-decoration: underline; }

.hardlink {
  float: right;
}

#accordion {
  font-size:12px;
}

#accordion h3 {
  font-weight: bold;
}

#accordion2 {
  font-size:12px;
}

#accordion2 h3 {
  font-weight: bold;
}


#tabs {
  padding:20px;
  font-size:14px;
}

#tabs li {
  font-weight: bold;
}


#maincontent {
  height: 100%;
}

#dialog-confirm {
  font-size:14px;
  display: none;
}

#dialog-confirm p {
  font-size:14px;
}

input {
  padding: 4px;
  background-color: transparent;
  border: 1px solid #7c7c7c;
  color: #ffffff;
}

#filemanager {
  width: 100%;
}

#filemanager td {
  width: 80%;
  padding: 6px;
}


#filemanager .col1 {
  background-color: #202020;
  font-size: 16px;
  width: auto;
}

#filemanager a {
  text-decoration: none;
}

#filemanager td:hover {
  background-color: #0380ea;
  background-color: #000000;
}

#filemanager .col2 {
  background-color: #252525;
  text-align: center;
  width: 100px;
}

#filemanager .col3 {
  background-color: #202020;
  text-align: right;
  width: 80px;
}

#filemanager .col4 {
  background-color: #202020;
  text-align: right;
  width: 20px;
}

#filemanager .col4 a {
  color: #7c7c7c;
}

#fmcurrentdir {
  width: 100%;
  text-align: right;
  font-size: 1em;
  color: #0380ea;
}

#moveup {
  width: 100%;
  height: 20px;
}

#editfileblock {
  width: 95%;
  height: 400px;
}

#accordion textarea {
  height: 600px;
  width: 95%;
  font-size: 1.4em;
  background-color: #121212;
  color: #fff;
  padding: 10px;

  word-wrap:break-word;  
  white-space:pre-wrap;
  overflow-x: auto;

  font-family: "Lucida Console", Monaco, monospace;
}

#accordion .textinput {
  width: 95%;
  font-size: 1.4em;
  background-color: #121212;
  color: #fff;
  padding: 10px;

  font-family: "Lucida Console", Monaco, monospace;
}

#pinstable td:hover {
  background-color: #0380ea;
}

#pinstable .nobg:hover {
  background-color: #121212;
}
 
.blueback {
  background-color: #0380ea;
}

.buttonlink {
  text-decoration: none;
  font-size:1.4em;
}

#currentgpiostate {
  font-family: "Lucida Console", Monaco, monospace; 
  font-size:1.3em;
}

#scanresult {
  font-family: "Lucida Console", Monaco, monospace; 
  font-size:1.3em;
}

select {
  background-color:#000000;
  color: #777777;
  border: #aaaaaa;
}

#uenvparams {
  font-family: "Lucida Console", Monaco, monospace; 
  font-size:1.2em;
  color: #777777;
}

.bluetitle {
  color: #0380ea;
}

.graytext {
 color: #7c7c7c;
}

.redtitle {
 color: #ff0000;
}

.gphotoctrl .bluetitle {
  color: #0380ea;
  display: none;
}

.gphotoctrl .control {
  padding-left: 0px;
  font-size: 1.2em;
}

.selectbox {
  width: 100%;
  max-width: 200px;
  height: 100%;
  line-height: 100%;
  color: #ffffff;
}

.previewfiles {
  display: none;
  float: right;
  padding-right: 20px;
}

#systemmessages a {
  text-align: left;
  font-size: 0.8em;
  color: #7c7c7c;
  line-height: 10px;
  height: 10px;
  text-decoration: none;
}

#systemmessages a:hover {
  color: #000000;
}

.gray_titles, .gray_titles a {
  color: #7c7c7c;
}

.inline {
  display: inline;
}